extends layout

block navigation
	header.navigation.mobile
		div#left-activator.slide-button
		div#center-content
		div#right-activator.slide-button
	header.navigation.desktop
		div.logo 
			p test
			
		ul
			li 
				a(href="#") home
			li
				a(href="#") products
			li
				a(href="#") services
			li
				a(href="#") configure
			li
				a(href="#") contact
				
	

block picker
	section.picker
		h2 hello
		h1 #{title}
		p Welcome to #{title}
		p provaprovaprova
			div#test_id.marius ciao #{title}
				
block preview
	section.preview
		p this is the preview.