doctype 5
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
body
	block navigation
	block picker
	block preview
	script(type='text/javascript',src='/javascripts/vendor/jquery/jquery.min.js')
	script(type='text/javascript',src='/javascripts/application/pages.js')
	meta(name="viewport", content="width=device-width, initial-scale=1.0", user-scalable=0)