extends layout

block navigation
	header.navigation
				
		nav.desktop
			div.logo
				p test			
			ul
				li 
					a(href="#") home
				li 
					a(href="#") products
				li 
					a(href="#") services
				li.active 
					a(href="#") configure
				li
					a(href="#") contact
					
			div.basket
				div.count
					p 2
				
		nav.mobile
			div.menu
				p test
				
			div.logo
				p test
			
			div.basket
				p test2
				
			

block picker
	section.picker
		nav
			ul.choose
				li.left
				li
					p choose package
				li.right
					a(href="#") >
		nav.items
			ul.menu_left
				- models.model.forEach(function(item,index) {
				li.item
					p= item.name
					img(src=item.thumbnail, alt="thumbnail")
				- })
				
block preview
	section.preview
		p this is the preview
