extends layout

block navigation
	header.navigation
		div.tablet_navigation
			p test
			
		div.logo
			p test
			
		div.basket
			p test
			
		nav
			ul.desktop
				li 
					a(href="#") home
				li 
					a(href="#") products
				li 
					a(href="#") services
				li.active 
					a(href="#") configure
				li
					a(href="#") contact

block picker
	section.picker
		h1 #{title}
		p Welcome to #{title}
		p provaprovaprova
			div#test_id.marius ciao #{title}
				
block preview
	section.preview
		p this is the preview