extends layout

block navigation
	header.navigation.mobile
		div#left-activator.slide-button
		div#center-content
		div#right-activator.slide-button
	header.navigation.desktop
		div.logo 
			p test
		ul
			li 
				a(href="#") home
			li
				a(href="#") products
			li
				a(href="#") services
			li
				a(href="#") configure
			li
				a(href="#") contact

block picker
	section.picker
		nav
			ul.choose
				li.left
					a(href="#") <
				li
					p choose package
				li.right
					a(href="#") >
					
		div.running_total
			p Price &pound;0
		nav.items
			ul.menu_left
				- models.model.forEach(function(item,index) {
				li.item
					p= item.name
					img(src=item.thumbnail, alt="thumbnail")
				- })
				
block preview
	section.preview
		div.image
			img(src="#{all_models[0].mainImage}")