section.picker { width: 30%; float: left; }
section.picker nav {width: 100%; height: 60px;}
section.picker nav ul.choose {width: 100%; height: 100%; display: block; float: left; text-align: center;  background: #E5E5E5; color: #424242;}
section.picker nav ul.choose li.left {width: 15%; height: 100%; display: block; float: left; line-height: 55px;}

section.picker {width: 35%; height: 60px;}
section.picker nav {width: 100%; height: 100%; overflow:hidden; overflow-y:scroll;}
section.picker nav ul.choose { width: 100%; height: 100%; display: block; float: left; text-align: center;  background: #E5E5E5; color: #424242;}
section.picker nav ul.choose li.left {width: 15%; height: 100%; display: block; float: left; line-height: 55px;}

section.picker nav ul.choose li {width: 70%; height: 100%; display: block; float: left; line-height: 65px;}
section.picker nav ul.choose li p {text-transform: uppercase;}
section.picker nav ul.choose li.right {width: 15%; height: 100%; display: block; float: left; line-height: 55px;}

section.picker nav.items {height: 400px;}
section.picker nav ul.menu_left {width: 100%; height: 100%; display: block; float: left; text-align: center;  color: #424242;}
section.picker nav ul.menu_left li p { background: #9F2C2E; padding: 1% 0; border-bottom: 1px solid rgba(0, 0, 0, 0.2); color: #FFF;}

section.picker nav ul.menu_left img { width: 90%; height: auto; }

section.preview { width: 60%; float: left; height: 60%; margin-left: 5%; ;}

section.preview .running_total,
section.picker .running_total { background: #333; color: #FFF; padding: 2%; text-align: left;}

section.picker .running_total { display: none; }

section.preview .running_total p.runningCost,
section.picker .running_total p.runningCost {
	float: left;
	width: 50%;
	text-align: right;
}

section.picker nav ul.choose li button {
	-webkit-appearance: none;
	height: 50px;
	background: #000;
	text-align: right;
	padding: 0 20%;
	border: none;
}

@media only screen and (max-width: 767px) {
	#content { padding-top: 0; }
	#content .picker { width: 100%; }
	#content .preview { display: none; }
	
	section.picker .running_total { display: block; }
}

@media only screen and (max-width: 1024px) {
	#content { padding-top: 0; }
	
	section.picker nav { width: 20%;}
}