section.picker nav {width: 100%; height: 60px;}
section.picker nav ul.choose {width: 100%; height: 100%; display: block; float: left; text-align: center;  background: #E5E5E5; color: #424242;}
section.picker nav ul.choose li.left {width: 15%; height: 100%; display: block; float: left; line-height: 55px;}

section.picker {width: 35%; height: 60px; float: left;}
section.picker nav {width: 100%; height: 100%; overflow:hidden; overflow-y:scroll;}
section.picker nav ul.choose { width: 100%; height: 100%; display: block; float: left; text-align: center;  background: #E5E5E5; color: #424242;}
section.picker nav ul.choose li.left {width: 15%; height: 100%; display: block; float: left; line-height: 55px;}

section.picker nav ul.choose li {width: 70%; height: 100%; display: block; float: left; line-height: 65px;}
section.picker nav ul.choose li p {text-transform: uppercase;}
section.picker nav ul.choose li.right {width: 15%; height: 100%; display: block; float: left; line-height: 55px;}

section.picker nav.items {height: 400px;}
section.picker nav ul.menu_left {width: 100%; height: 100%; display: block; float: left; text-align: center;  color: #424242;}
section.picker nav ul.menu_left li p { background: #9F2C2E; padding: 1% 0; border-bottom: 1px solid rgba(0, 0, 0, 0.2); color: #FFF; text-transform: capitalize;}

section.picker nav ul.menu_left img { width: 90%; height: auto; }

section.preview { width: 60%; float: left; height: 60%; margin-left: 2.5%;}

section.preview .running_total,
section.picker .running_total { background: #333; color: #FFF; padding: 2%; text-align: left;}

section.picker .running_total { display: none; }

section.preview .socialNetwork { height: 50px; background: #9F2C2E; line-height: 50px; color: #FFF; width: 100%; text-transform: uppercase;}
section.preview .socialNetwork ul {height: 100%; display: block;}
section.preview .socialNetwork ul li {width: 33.33%; float: left; border-right: 1px solid #FFF; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 1%;}
section.preview .socialNetwork ul li:last-child { border-right: none; }

section.picker .socialNetwork { display: none; height: 40px; bottom: 0; position: fixed; background: #333; width: 100%; }
section.picker .socialNetwork ul { height: 100%; display: block;}
section.picker .socialNetwork ul li { width: 33.33%; float: left; border-right: 1px solid #808080; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
section.picker .socialNetwork ul li:last-child { border-right: none; }

section.picker .socialNetwork ul li#save .icon { width: 100%; height: 100%; display: block; background: red; }
section.picker .socialNetwork ul li#save p { display: none; }

section.picker .socialNetwork ul li#save .icon { width: 100%; height: 100%; display: block; background: url('../images/navigation/menuicon2.png') no-repeat center center; background-size: 20%; }
section.picker .socialNetwork ul li#save p { display: none; }

section.picker .socialNetwork ul li#dealerLocator .icon { width: 100%; height: 100%; display: block; background: url('../images/social/dealericon.png') no-repeat center center; background-size: 15%; }
section.picker .socialNetwork ul li#dealerLocator p { display: none; }

section.picker .socialNetwork ul li#share .icon { width: 100%; height: 100%; display: block; background: url('../images/social/shareicon.png') no-repeat center center; background-size: 25%; }
section.picker .socialNetwork ul li#share p { display: none; }


section.preview .running_total p.runningCost,
section.picker .running_total p.runningCost {
	float: left;
	width: 50%;
	text-align: right;
}

section.picker nav ul.choose li button {
	-webkit-appearance: none;
	height: 50px;
	background: #000;
	text-align: right;
	padding: 0 20%;
	border: none;
	color: #FFF;
}

@media only screen and (max-width: 767px) {
	#content { padding-top: 0; }
	#content .picker { width: 100%; }
	#content .preview { display: none; }
	
	section.picker .running_total { display: block; }
	
	section.picker .socialNetwork  { display: block; }
	
	section.picker .socialNetwork ul li p { display: none; }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
	section.picker .socialNetwork ul li#save .icon { background-size: 10%; }
	section.picker .socialNetwork ul li#dealerLocator .icon { background-size: 10%; }
	section.picker .socialNetwork ul li#share .icon { background-size: 15%; }
}

@media only screen and (max-width: 1024px) {
	#content { padding-top: 0; }
	
	section.picker nav { width: 20%;}
}