@media only screen and (max-width: 1024px) {
	#content .picker { width: 32%; }
	#content .picker nav { width: 100%;}
	#content .picker { border-right: solid 1% black;display:inline-block; vertical-align:top;}
	#content .picker .items { overflow:hidden; overflow-y: scroll;}
	
	#content .preview { width: 60%; height: auto; display:inline-block; vertical-align:top;}
	
	#content .picker .choose nav { overflow-y: hidden; overflow-x:hidden;}
	#content .picker .items .menu_left .item img { width: 100%; }
	
	#content .preview .image img { width: 90%; margin-left: 5%;}
}