/* Font Imports */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto:700);

html, body {
	height: 100%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	/* overflow: hidden; */
}
ul {
	list-style: none;
	padding: 0; 
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}
.no-scrolling {
	overflow: hidden;	
}
.navigation {
	display:block;
	position: fixed;
	top:0px;
	z-index: 999;
}
 
.navigation {
	position: fixed;
	top:0px;
	height: 40px;
	width: 100%;
	background: -moz-linear-gradient(top,#738aba 0,#2c4987 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#738aba),color-stop(100%,#2c4987));
	background: -webkit-linear-gradient(top,#738aba 0,#2c4987 100%);
	background: -o-linear-gradient(top,#738aba 0,#2c4987 100%);
	background: -ms-linear-gradient(top,#738aba 0,#2c4987 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#738aba',endColorstr='#2c4987',GradientType=0);
	background: linear-gradient(top,#738aba 0,#2c4987 100%);		
	
	box-shadow: inset 0 1px 1px -1px #fff;
	border-bottom: 1px solid #111a33;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
}

.navigation #left-activator {
	display: inline-block;
	width: 10%;
	height: 100%; 
	left: 0px;
	top: 0px;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;	
}
.navigation #center-content { width: 70%; display:inline-block; margin-left: 2.5%; background:red; height: 100%;}
.navigation #right-activator {
	display: inline-block;
	width: 10%;
	height: 100%; 
	left: 90%;
	top: 0px;
	float:right;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;	
}


.navigation .slide-button:active {
	background: -moz-linear-gradient(top,#2c4987 0,#738aba 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c4987),color-stop(100%,#738aba));
	background: -webkit-linear-gradient(top,#2c4987 0,#738aba 100%);
	background: -o-linear-gradient(top,#2c4987 0,#738aba 100%);
	background: -ms-linear-gradient(top,#2c4987 0,#738aba 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c4987',endColorstr='#738aba',GradientType=0);
	background: linear-gradient(top,#2c4987 0,#738aba 100%);
}

.slide-content {
	background: #5F5E5F;	
	width: 50%;
	display:inline-block;
}

.slide-content.right { 
	float:right;
}


.slide-content li {
	border-bottom: 1px solid #242a37;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
	background: #424242;
}

.slide-content li a {
	color: #fff;
	padding: 10px 10px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	line-height: 20px;
}

.csstransforms #content.slid-right {
  -webkit-transform: translate(50%);
     -moz-transform: translate(50%);
      -ms-transform: translate(50%);
       -o-transform: translate(50%);
          transform: translate(50%);
}


.csstransforms #content.slid-left {
  -webkit-transform: translate(-50%);
     -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
       -o-transform: translate(-50%);
          transform: translate(-50%);
}

#content {
	height: 100%;
	margin-top: 42px;
	-webkit-box-shadow: -3px 0 3px rgba(0,0,0,.3);
	box-shadow: -3px 0 3px rgba(0,0,0,.3);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;		
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.slide-content {
	display: none;	
	width: 50%;
	height: 100%;	
	position: absolute;
	top: 0;
	min-height: 100%;
	overflow: hidden;	
}

.slide-content.visible {
	display: block;	
}

.slide-content.left {
	left: 0;
}
.slide-content.right{
	right: 0;
}

.slide-content.scroll {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

/* Desktop Navigation */
header.navigation.desktop { background: #333333; color: #FFF;}
header.navigation.desktop ul { width: 60%; height: 100%; float: left; margin-left: 20%;}
header.navigation.desktop ul li { width: 20%; float: left; text-align: center; line-height: 40px; text-transform: capitalize;}
header.navigation.desktop ul li.active a { font-weight: bold; }
header.navigation.desktop .logo {width: 10%; float: left; background: url('../images/navigation/logo.png') no-repeat center center; background-size: 25%; line-height: 40px; text-align: center; height: 100%;}

header.navigation.desktop .basket { width: 10%; float: right; background: url('../images/navigation/menuicon2.png') no-repeat center center; background-size: 20%; line-height: 40px; text-align: center; height: 100%;}

/* Tablet & Mobile Navigation*/
header.navigation.mobile { background: #333;}
header.navigation.mobile #left-activator {background: url('../images/navigation/menuicon.png') no-repeat center center; width: 20%; border-right: 1px solid #808080}
header.navigation.mobile #center-content {width: 40%; background: url('../images/navigation/logo.png') no-repeat center center; margin-left: 10%;}
header.navigation.mobile #right-activator {background: url('../images/navigation/menuicon2.png') no-repeat center center; width: 20%; border-left: 1px solid #808080;}
header.navigation.mobile .slide-content { width: 50%; }

nav.slide-content ul.main_navigation { margin-top: 40px; }
nav.slide-content ul.main_navigation li { text-transform: capitalize; font-size: 0.9em;}

#content { background: #FFF; }





/* Tablet specific styles */
@media only screen and (max-width: 1024px) {
	header.navigation.desktop {
		display: none; 
	}
	header.navigation.mobile #center-content {
		background-size: 10%;
	}
	header.navigation.mobile #right-activator {
		background-size: 15%;
	}
	
	header.navigation.mobile #left-activator {
		background-size: 10%;
	}
	
	.slide-content li a {
		padding: 20px;
	}
	.running_total {
		display: block;
	}
}
/* Tablet specific styles in Landscape orientation */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
	header.navigation.mobile #center-content {
		background-size: 10%;
	}
	header.navigation.mobile #left-activator {
		background-size: 10%;
	}
	header.navigation.mobile #right-activator {
		background-size: 10%;
	}
}	
/* Mobile specific styles */
@media only screen and (max-width: 767px) {
	header.navigation.mobile #center-content {
		background-size: 10%;
	}
	
	header.navigation.mobile #left-activator {
		background-size: 10%;
	}
	
	header.navigation.mobile #right-activator {
		background-size: 15%;
	}
	
	.running_total { display: block; }
}
@media only screen and (max-width: 767px) {
	
	.csstransforms #content.slid-right {
	  -webkit-transform: translate(85%);
	     -moz-transform: translate(85%);
	      -ms-transform: translate(85%);
	       -o-transform: translate(85%);
	          transform: translate(85%);
	}
	
	
	.csstransforms #content.slid-left {
	  -webkit-transform: translate(-85%);
	     -moz-transform: translate(-85%);
	      -ms-transform: translate(-85%);
	       -o-transform: translate(-85%);
	          transform: translate(-85%);
	}	
	.slide-content {
		width: 85%;
	}
	header.navigation.mobile #center-content {
		background-size: 20%;
	}
	
	header.navigation.mobile #left-activator {
		background-size: 20%;
	}
	
	header.navigation.mobile #right-activator {
		background-size: 25%;
	}
}
/* Mobile specific styles in Landscape orientation */
@media only screen and (max-width: 767px) and (orientation:landscape) {
	.csstransforms #content.slid-right {
	  -webkit-transform: translate(65%);
	     -moz-transform: translate(65%);
	      -ms-transform: translate(65%);
	       -o-transform: translate(65%);
	          transform: translate(65%);
	}
	
	
	.csstransforms #content.slid-left {
	  -webkit-transform: translate(-65%);
	     -moz-transform: translate(-65%);
	      -ms-transform: translate(-65%);
	       -o-transform: translate(-65%);
	          transform: translate(-65%);
	}	
	.slide-content {
		width: 65%;
	}
	
	header.navigation.mobile #center-content {
		background-size: 20%;
	}
	
	header.navigation.mobile #left-activator {
		background-size: 20%;
	}
	
	header.navigation.mobile #right-activator {
		background-size: 25%;
	}
}