html, body {
	margin: 0 auto;
	height: 100%;
	font-family: 'Helvetica', sans-serif;
}
ul {margin: 0; padding: 0; list-style: none;}

a{color: inherit; text-decoration: none;}

header.navigation {height: 50px; background: #424242; overflow-y: hidden;}

header.navigation nav.desktop .logo {width: 15%; float: left; text-align: center;}

header.navigation nav.desktop { width: 100%; display: block; height: 100%; color: #FFF; }
header.navigation nav.desktop ul {height: 100%; float: left; width: 70%; }
header.navigation nav.desktop ul li {width: 20%; float: left; line-height: 50px; text-align: center; text-transform: capitalize;}
header.navigation nav.desktop ul li.active { font-weight: bold; }

header.navigation nav.desktop .basket { width: 15%; float: right; text-align: center; background: red;}
header.navigation nav.desktop .basket .count { width: 30px; height: 30px; background: yellow; margin: 10px 45%; background: #103FFB; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px;}
header.navigation nav.desktop .basket .count p { padding: 0; margin: 0; line-height: 30px; text-align: center;}

header.navigation nav.mobile {display: none; width: 100%;}
header.navigation nav.mobile .logo { width: 40%; float: left; margin-left: 5%; background: indigo;}
header.navigation nav.mobile .menu { width: 25%; float: left; background: red;}
header.navigation nav.mobile .basket { width: 25%; float: right; background: yellow;}

@media only screen and (max-width: 1024px) {
	header.navigation nav.desktop {
		display: none;
	}
	header.navigation nav.mobile {
		display: block;
	}
	
}